artifacts/
cache/
crytic-export/
dist/
node_modules/
typechain/
ganache/chain-database
blockscout/logs
blockscout/services/redis-data
node_modules
.env
.env-hardhatnode
.env-ganache
.openzeppelin
coverage
coverage.json
typechain
deployments/fuji
deployments/local
deployments/*_temp
helpers/goerli/tokenInfo.json
helpers/token-config/tokenLock-*.csv
!helpers/token-config/tokenLock-example.csv
scripts/beaconStaking/partial_deposits

#Hardhat files
cache
artifacts

.DS_Store

package-lock.json
yarn.lock